footer(class="footer")
    div(class="row")
        div(class="col col-sm-12 col-lg-12 col-md-12")
            div(class="text-center") Lite Shop. All right reserverd 

script(src="js/navbar.js")
script(src="js/card.js")