div(class="site-nav")
    div(class="navbar-row")
        div(class="row")
            div(class="col col-sm-11 col-md-11 col-lg-11")
                h3(class="card-header") Category:
                div(id="category-list") 
                h3(class="card-header") Card
                div(class="card-nav")
                div(class="element-right") 
                    br
                    a(
                        href="/order"
                        target="_blank"
                    )
                        button(class="button-info button-primary-outlined button-large") <i class="fas fa-shopping-basket"></i>
        div(class="burger")
            button(class="button-danger close-nav") <i class="fas fa-times"></i>