div(class="user-now")
    div(class="row" )
        div(id="userLog" class="col col-sm-10 col-md-10 col-lg-10")
        div(class="col col-sm-2 col-md-2 col-lg-2 element-right")
            button(class="button-primary-outlined button-round button-small" id="logout") Logout

script(src="../js/userNow.js")